Repository rasnaut/WebCalculatorAllInOne, pull requests merged in 2025-06, with the labels that each got.

#60 49-front-add-percent-button
  js_frontend/public/index.html
  js_frontend/src/index.js
Labels: Frontend

#59 50 front add log button
  js_frontend/public/index.html
  js_frontend/src/index.js
Labels: enhancement, Frontend

#57 commit minus
  js_frontend/public/index.html
  js_frontend/src/index.js
Labels: enhancement
